{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <div class="hero">
      <div class="container">
        <img src="../static/img/daniel-guerra-MjZwrERreuY-unsplash.jpg" alt="hero  section">
        <div class="centered">
          <h1>Let’s discover your new favorite media</h1>
        </div>  
      </div>
    </div>

    <div class="data">
      <div class="data-container">
        <div class="title-data">
          <h2>full of</h2>
        </div>
        <div class="data-content">
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem debitis cumque, culpa consequatur dolore expedita laudantium adipisci facilis, sunt asperiores placeat minus, ad et mollitia sit! Architecto rerum sequi placeat!</p>
        </div>
      </div>
      <div class="data-container">
        <div class="title-data">
          <h2>find interesting</h2>
        </div>
        <div class="data-content">
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem debitis cumque, culpa consequatur dolore expedita laudantium adipisci facilis, sunt asperiores placeat minus, ad et mollitia sit! Architecto rerum sequi placeat!</p>
        </div>
      </div>
      <div class="data-container">
        <div class="title-data">
          <h2>all interest</h2>
        </div>
        <div class="data-content">
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem debitis cumque, culpa consequatur dolore expedita laudantium adipisci facilis, sunt asperiores placeat minus, ad et mollitia sit! Architecto rerum sequi placeat!</p>
        </div>
      </div>
    </div>

    <div class="media">
      <h2>enjoy xmas season</h2>
      <section>
        {% for content in media_content %}
          <a href="{{ content.link }}" alt="Mythrill" target="_blank">
            <div class="card">
              <div class="wrapper">
                <img src="{{ content.poster }}" />
              </div>
              <img src="{{ content.title_image }}" class="title" />
              <img src="{{ content.transition_image }}" class="character" />
            </div>
          </a>        
        {% endfor %}
      </section>
    </div>
  </body>
</html>